#The code is responsible for creating tables in a MySQL database. To perform this task, it establishes a connection to the MySQL server using a specific username and password provided by the user. This connection allows the code to execute SQL queries to create the necessary tables in the database.

In [ ]:
import mysql.connector
import json

In [11]:
# Connect to a MySQL database
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Kum@r123',
    database="Twitter1"
)

# Create a cursor object
cursor = conn.cursor()
cursor.execute("CREATE DATABASE Twitter1")

In [17]:
cursor = conn.cursor()
# Create a table for users
cursor.execute('''CREATE TABLE user
             (user_id INTEGER PRIMARY KEY,
             user_id_str VARCHAR(255),
             name VARCHAR(255),
             screen_name VARCHAR(255),
             location VARCHAR(255),
             description TEXT,
             protected VARCHAR(10),
             verified VARCHAR(10),
             followers_count INTEGER,
             friends_count INTEGER,
             favourites_count INTEGER,
             statuses_count INTEGER,
             created_at VARCHAR(255),
             media_url VARCHAR(255))''')

# a table for tweets
cursor.execute('''CREATE TABLE tweet
             (tweet_id INTEGER PRIMARY KEY,
             tweet_id_str VARCHAR(255),
             user_id INTEGER,
             in_reply_to_status_id INTEGER,
             in_reply_to_status_id_str VARCHAR(255),
             in_reply_to_user_id INTEGER,
             in_reply_to_user_id_str VARCHAR(255),
             in_reply_to_screen_name VARCHAR(255),
             reply_count INTEGER,
             retweet_count INTEGER,
             favorite_count INTEGER,
             retweeted VARCHAR(10),
             filter_level VARCHAR(10),
             possible_sensitivity VARCHAR(10),
             FOREIGN KEY (user_id) REFERENCES user(user_id))''')
#a table for retweets
cursor.execute('''CREATE TABLE retweet
             (retweet_id INTEGER PRIMARY KEY,
             retweet_id_str VARCHAR(255),
             user_id INTEGER,
             tweet_id INTEGER,
             in_reply_to_status_id INTEGER,
             in_reply_to_status_id_str VARCHAR(255),
             in_reply_to_user_id INTEGER,
             in_reply_to_user_id_str VARCHAR(255),
             in_reply_to_screen_name VARCHAR(255),
             FOREIGN KEY (user_id) REFERENCES user(user_id),
             FOREIGN KEY (tweet_id) REFERENCES tweet(tweet_id))''')
#a tablr for hastags
cursor.execute('''CREATE TABLE hashtag 
             (hastag_id INT PRIMARY KEY,
             name VARCHAR(50))''')
#a table for composite key
# PRIMARY KEY (tweet_id, hashtag_id),
cursor.execute('''CREATE TABLE tweet_hashtags 
             (tweet_id INT,
              hashtag_id INT,
              FOREIGN KEY (tweet_id) REFERENCES tweets(tweet_id),
              FOREIGN KEY (hashtag_id) REFERENCES hashtags(hastag_id))''');